<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Booksadd_servlet</servlet-name>
        <servlet-class>controller.Booksadd_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBook_Servlet</servlet-name>
        <servlet-class>controller.editBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBook_Servlet</servlet-name>
        <servlet-class>controller.deleteBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>controller.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Servlet</servlet-name>
        <servlet-class>controller.Register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>controller.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_bookCart</servlet-name>
        <servlet-class>controller.remove_bookCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_oldBook_Servlet</servlet-name>
        <servlet-class>controller.Add_oldBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_oldBook_Servlet</servlet-name>
        <servlet-class>controller.Delete_oldBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile_Servlet</servlet-name>
        <servlet-class>controller.updateProfile_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_Servlet</servlet-name>
        <servlet-class>controller.Order_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Booksadd_servlet</servlet-name>
        <url-pattern>/Booksadd_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBook_Servlet</servlet-name>
        <url-pattern>/editBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBook_Servlet</servlet-name>
        <url-pattern>/deleteBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/Logout_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Servlet</servlet-name>
        <url-pattern>/Register_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_bookCart</servlet-name>
        <url-pattern>/remove_bookCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_oldBook_Servlet</servlet-name>
        <url-pattern>/Add_oldBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_oldBook_Servlet</servlet-name>
        <url-pattern>/Delete_oldBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile_Servlet</servlet-name>
        <url-pattern>/updateProfile_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_Servlet</servlet-name>
        <url-pattern>/Order_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
